@import "tailwindcss";

@font-face {
  font-family: "PlusJakartaSans";
  src: url("/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  --font-sans: "PlusJakartaSans", sans-serif;
  --font-heading: "PlusJakartaSans", sans-serif;
}
:root {
  --font-size-root: 16px;

  --d-navbar-logo: 18px;
  --d-navbar-links: 14px;
  --d-navbar-btn: 14px;
  --d-h1: 48px;
  --d-h2: 32px;
  --d-h3: 20px;
  --d-body: 16px;
  --d-form-label: 14px;
  --d-form-input: 14px;
  --d-form-placeholder: 14px;
  --d-form-error: 12px;
  --d-btn: 14px;
  --d-card-title: 18px;
  --d-card-desc: 14px;
  --d-footer-heading: 14px;
  --d-footer-links: 14px;
  --d-footer-legal: 12px;
}

@media (max-width: 1023px) and (min-width: 768px) {
  :root {
    --t-navbar-logo: 18px;
    --t-navbar-links: 14px;
    --t-navbar-btn: 14px;
    --t-h1: 36px;
    --t-h2: 28px;
    --t-h3: 18px;
    --t-body: 16px;
    --t-form-label: 14px;
    --t-form-input: 16px;
    --t-form-placeholder: 16px;
    --t-form-error: 12px;
    --t-btn: 14px;
    --t-card-title: 18px;
    --t-card-desc: 14px;
    --t-footer-heading: 14px;
    --t-footer-links: 14px;
    --t-footer-legal: 12px;
  }
}

@media (max-width: 767px) {
  :root {
    --m-navbar-logo: 16px;
    --m-navbar-links: 14px;
    --m-navbar-btn: 14px;
    --m-h1: 32px;
    --m-h2: 24px;
    --m-h3: 18px;
    --m-body: 16px;
    --m-form-label: 14px;
    --m-form-input: 16px;
    --m-form-placeholder: 16px;
    --m-form-error: 12px;
    --m-btn: 14px;
    --m-card-title: 16px;
    --m-card-desc: 14px;
    --m-footer-heading: 14px;
    --m-footer-links: 14px;
    --m-footer-legal: 12px;
  }
}

@theme {
  --text-saas-root: 16px;

  --text-d-nav-logo: 18px;
  --text-d-nav-links: 14px;
  --text-d-nav-btn: 14px;
  --text-d-h1: 48px;
  --text-d-h2: 32px;
  --text-d-h3: 20px;
  --text-d-body: 16px;
  --text-d-label: 14px;
  --text-d-input: 14px;
  --text-d-error: 12px;
  --text-d-btn: 14px;
  --text-d-card-title: 18px;
  --text-d-card-desc: 14px;
  --text-d-footer-heading: 14px;
  --text-d-footer-links: 14px;
  --text-d-footer-legal: 12px;

  --text-t-nav-logo: 18px;
  --text-t-nav-links: 14px;
  --text-t-nav-btn: 14px;
  --text-t-h1: 36px;
  --text-t-h2: 28px;
  --text-t-h3: 18px;
  --text-t-body: 16px;
  --text-t-label: 14px;
  --text-t-input: 16px;
  --text-t-error: 12px;
  --text-t-btn: 14px;
  --text-t-card-title: 18px;
  --text-t-card-desc: 14px;
  --text-t-footer-heading: 14px;
  --text-t-footer-links: 14px;
  --text-t-footer-legal: 12px;

  --text-m-nav-logo: 16px;
  --text-m-nav-links: 14px;
  --text-m-nav-btn: 14px;
  --text-m-h1: 32px;
  --text-m-h2: 24px;
  --text-m-h3: 18px;
  --text-m-body: 16px;
  --text-m-label: 14px;
  --text-m-input: 16px;
  --text-m-error: 12px;
  --text-m-btn: 14px;
  --text-m-card-title: 16px;
  --text-m-card-desc: 14px;
  --text-m-footer-heading: 14px;
  --text-m-footer-links: 14px;
  --text-m-footer-legal: 12px;
}